body.light-mode {
	font-family: Arial;
	font-size: 1.5rem;
	color: rgb(48, 55, 61);
	background: rgb(252, 252, 252);
	background: radial-gradient(circle, #fcfcfc 0%, rgba(233, 200, 148, 1) 100%);
}

.light-mode header {
	background-color: rgba(73, 237, 210, 0.331);
	backdrop-filter: blur(5px);
	padding: 7px;
	margin-bottom: 20px;
	border-radius: 21px;
	background: radial-gradient(circle, #d9c9ac 0%, rgba(255, 220, 164, 0.591) 100%);
	box-shadow: 15px 15px 20px #837b7ba4,
		-15px -15px 25px #f3e6ce8c;
}

.light-mode h1 {
	font-size: 300%;
}

.light-mode header p {
	margin: 15px;
}

.light-mode h1,
.light-mode h2 {
	color: rgb(253, 177, 0);
	text-transform: uppercase;
	font-weight: 100;
	text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.light-mode a.navbar-brand {
	color: rgba(68, 180, 154, 0.612);
}


.light-mode img {
	width: 100%;
	box-shadow: 0 0 30px 5px #fff;
}

.light-mode footer {
	margin-top: 70px;
	background-color: orange;
	color: rgb(255, 249, 249);
}

.light-mode footer p {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.light-mode #container {
	width: 60%;
	margin: 100px auto 0;
	/* Add 100px top margin */
}

@media screen and (max-width: 768px) {
	#container {
		width: 90%;
	}

	h1 {
		font-size: 200%;
	}
}

.light-mode .container-fluid {
	opacity: 0.95;
	backdrop-filter: blur(5px);
	background-color: rgba(111, 145, 77, 0.386);
	box-shadow: 0 0 15px 0.325px #d7dfe8c0;
}

.light-mode .container-fluid::after {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 135%;
	height: 100%;
	background-image: linear-gradient(to right, transparent, rgba(243, 254, 255, 0.804), transparent);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s;
}

.light-mode .container-fluid:hover::after {
	left: 100%;
	opacity: 0.75;
	transition: left 0s, opacity 2s;
	animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
	0% {
		left: -100%;
	}

	100% {
		left: 100%;
	}
}

.light-mode .container-fluid {
	font-size: 1.75rem;
	letter-spacing: 3px;
}

.light-mode .container-fluid {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	z-index: 1;
	backdrop-filter: blur(5px);
	background-color: rgba(84, 153, 172, 0.057);
	box-shadow: 0 0 12px 3px #7ed8abdf;
}

/* Default style when not interacting with the dropdown */
.light-mode #themeDropdown {
	display: flex;
	align-items: center;
	width: 80px;
	height: 40px;
	background-color: #f3c467a7;
	box-shadow: 0 0 10px 4px #3f9377;
}

/* Style when hovering over the dropdown button */
.light-mode #themeDropdown:hover {
	background-color: rgba(240, 170, 20, 0.986);
	box-shadow: 0 0 15px 5px #74eae0;
}

/* Style when the dropdown button is active */
.light-mode #themeDropdown:active {
	background-color: rgb(228, 116, 18);
	box-shadow: 0 0 20px 10px #97fff3;
}

/* Style when interacting with the dropdown menu */
.light-mode .dropdown-menu.show {
	opacity: 0.9;
	overflow: hidden;
	backdrop-filter: blur(10px);
	background-color: #e3c185;
	box-shadow: #fee4bbfd -9px -9px 9px 8px,
		#674414e5 9px 9px 9px 8px;
	;
}

/* Style when interacting with the dropdown menu item */
.light-mode .dropdown-menu.show .dropdown-item:hover {
	background-color: #e8c594ab;
	border-radius: 10px;
	box-shadow: 0 0 1px 2px #ffffff;
	color: #000000c9;
	text-shadow: #ffffff 8px 8px 15px;
}

.light-mode #themeDropdown svg {
	width: 50px;
	height: 25px;
	margin-right: 5px;
	color: #000;
}

.light-mode .dropdown-toggle::after {
	width: 10px;
	height: 5px;
	margin-right: 5px;
	color: #000;
}

.light-mode .dropdown-item,
.light-mode .dropdown-item::after {
	font-size: 20px;
}

.light-mode .dropdown-item {
	opacity: 0.9;
	color: #000000;
	text-shadow: #ffffff 0.75px 0.75px 15px;
	padding: 5px 20px;
}

.light-mode .dropdown-item:hover {
	opacity: 1;
	background-color: #f9e1adab;
	border-radius: 10px;
	box-shadow: 0 0 10px 5px rgba(247, 222, 181, 0.849);
	color: #bfedfeec;
	text-shadow: #000000 0.7px 0.8px 10px;
}

.light-mode .dropdown-item::after {
	content: '';
	position: absolute;
	height: 24.7%;
	width: 100%;
	opacity: 0.9;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: inset 0 0 10px 5px rgba(255, 240, 201, 0.66);
	color: #000000c9;
	text-shadow: #ffe7e7 0.8px 0.8px 20px;
	background-color: transparent;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s;
}

.light-mode .dropdown-item:hover::after {
	background-color: rgba(250, 232, 193, 0.66);
	border-radius: 10px;
	box-shadow: inset 0 0 10px 5px rgba(196, 176, 147, 0.66);
	color: #000000c9;
	text-shadow: #000000 0.7px 0.8px 10px;
	left: 50%;
	opacity: 0;
	transition: left 0s, opacity 2s;
}

.light-mode .dropdown-item:focus {
	background-color: rgba(226, 200, 143, 0.852);
	border-radius: 10px;
	box-shadow: inset 0 0 10px 5px rgba(242, 235, 215, 0.97);
	color: #08222cc9;
	text-shadow: #000000 0.7px 0.8px 10px;
	animation: shimmer 1s infinite;
}


.dark-mode {
	font-family: Arial;
	font-size: 1.5rem;
	color: rgba(255, 255, 254, 0.868);
	text-align: center;
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 43, 63, 0.961) 13%, rgb(0, 0, 0) 24%, rgb(118, 51, 10) 34%, #3e1d00f6 40%, rgb(0, 0, 0) 50%, rgb(48, 14, 55) 60%, rgba(40, 15, 63, 0.897) 66%, rgb(0, 0, 0) 76%, rgb(14, 47, 72) 87%, rgb(0, 0, 0) 100%);
}

.dark-mode header {
	background-color: rgba(163, 52, 143, 0.269);
	backdrop-filter: blur(5px);
	margin-bottom: 20px;
	border-radius: 15px;
	box-shadow: 0 0 35px 9px #ee70e5d2;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.dark-mode header p {
	margin: 15px;
}

.dark-mode .ingredients ul,
.dark-mode .preparation ol {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 0;
}

.dark-mode h1 {
	font-size: 300%;
	text-shadow: 2px 2px 45px rgba(254, 255, 255, 0.918);
}

.dark-mode h1,
.dark-mode h2 {
	color: rgba(210, 150, 154, 0.932);
	text-transform: uppercase;
	font-weight: 100;
	text-shadow: 3px 3px 1px rgb(61, 16, 98);
}


.dark-mode a.navbar-brand {
	color: rgba(185, 91, 139, 0.938);
}


.dark-mode img {
	width: 100%;
	box-shadow: 0 0 15px 3px #fa83cb;
}

.dark-mode footer {
	margin-top: 70px;
	background-color: rgba(75, 0, 105, 0.486);
	color: rgb(255, 255, 255);
	box-shadow: 0 0 15px 2px #ad9aaf79;
}

.dark-mode footer p {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.dark-mode #container {
	width: 60%;
	margin: 100px auto 0;
	/* Add 100px top margin */
}

@media screen and (max-width: 768px) {
	#container {
		width: 100%;
	}

	h1 {
		font-size: 200%;
	}
}

.dark-mode .container-fluid {
	backdrop-filter: blur(5px);
	background-color: rgba(201, 137, 238, 0.774);
	box-shadow: 0 0 15px 0px #fefcfeb4;
}

.dark-mode .container-fluid::after {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 135%;
	height: 100%;
	background-image: linear-gradient(to right, transparent, rgba(247, 161, 240, 0.897), transparent);
	opacity: 0.3;
	pointer-events: none;
	transition: opacity 0.5s;
}

.dark-mode .container-fluid:hover::after {
	left: 100%;
	opacity: 0.75;
	transition: left 0s, opacity 2s;
	animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
	0% {
		left: -100%;
	}

	100% {
		left: 100%;
	}
}

.dark-mode .container-fluid {
	font-size: 1.75rem;
	letter-spacing: 3px;
}

.dark-mode .container-fluid {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	z-index: 1;
	backdrop-filter: blur(5px);
	background-color: rgba(216, 216, 42, 0.057);
	box-shadow: 0 0 15px 9px #e7a0dcb5;
}


/* Default style when not interacting with the dropdown */
.dark-mode #themeDropdown {
	display: flex;
	align-items: center;
	width: 80px;
	height: 40px;
	background-color: #e28fd3af;
	box-shadow: 0 0 10px 4px #f8abf8;
}

/* Style when hovering over the dropdown button */
.dark-mode #themeDropdown:hover {
	background-color: rgba(192, 76, 186, 0.66);
	box-shadow: 0 0 15px 5px #ece9ed;
}

/* Style when the dropdown button is active */
.dark-mode #themeDropdown:active {
	background-color: rgba(207, 26, 198, 0.66);
	box-shadow: 0 0 20px 10px #ece9ed;
}

/* Style when interacting with the dropdown menu */
.dark-mode .dropdown-menu.show {
	opacity: 0.75;
	overflow: hidden;
	backdrop-filter: blur(10px);
	background-color: #2d687b68;
	box-shadow: #3298aed6 0 0 15px 7px,
		inset #ad4301e5 0 0 1px 0.325px;
	;
}

/* Style when interacting with the dropdown menu item */
.dark-mode .dropdown-menu.show .dropdown-item:hover {
	background-color: #316c87ab;
	border-radius: 10px;
	box-shadow: 0 0 1px 2px #47bbd8;
	color: #9fe6ffc9;
	text-shadow: #000000 0.7px 0.8px 10px;
}

.dark-mode #themeDropdown svg {
	width: 50px;
	height: 25px;
	margin-right: 5px;
	color: #000;
}

.dark-mode .dropdown-toggle::after {
	width: 10px;
	height: 5px;
	margin-right: 5px;
	color: #000;
}

.dark-mode .dropdown-item,
.dark-mode .dropdown-item::after {
	font-size: 20px;
}

.dark-mode .dropdown-item {
	opacity: 0.9;
	color: #000000;
	text-shadow: #f1fffd 0.75px 0.75px 15px;
	padding: 5px 20px;
}

.dark-mode .dropdown-item:hover {
	opacity: 1;
	background-color: #316c87ab;
	border-radius: 10px;
	box-shadow: 0 0 10px 5px rgba(207, 26, 198, 0.66);
	color: #bfedfeec;
	text-shadow: #000000 0.7px 0.8px 10px;
	animation: glowing 1s infinite;
}

@media (prefers-color-scheme: dark) {
	@keyframes glowing {
	0% {
		background-color: #082c3dab;
		box-shadow: inset 0 0 1px 5px rgba(219, 66, 0, 0.66);
	}

	50% {
		background-color: #3d5e6bb6;
		box-shadow: inset 0 0 10px 7.5px rgba(112, 176, 190, 0.9);
	}

	100% {
		background-color: #0b2430ab;
		box-shadow: inset 0 0 7px 10px rgba(166, 70, 190, 0.605);
	}
}
}

.dark-mode .dropdown-item::after {
	content: '';
	position: absolute;
	height: 24.7%;
	width: 100%;
	opacity: 0.9;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: inset 0 0 10px 5px rgba(207, 26, 198, 0.66);
	color: #168ec1c9;
	text-shadow: #000000 0.8px 0.8px 20px;
	background-color: transparent;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s;
}

.dark-mode .dropdown-item:hover::after {
	background-color: rgba(207, 26, 198, 0.66);
	border-radius: 10px;
	box-shadow: inset 0 0 10px 5px rgba(207, 26, 198, 0.66);
	color: #9fe6ffc9;
	text-shadow: #000000 0.7px 0.8px 10px;
	left: 50%;
	opacity: 0;
	transition: left 0s, opacity 2s;
}

.dark-mode .dropdown-item:focus {
	background-color: rgba(45, 150, 168, 0.852);
	border-radius: 10px;
	box-shadow: inset 0 0 10px 5px rgba(48, 151, 182, 0.97);
	color: #08222cc9;
	text-shadow: #000000 0.7px 0.8px 10px;
	animation: glowing 1s infinite;
}